<link rel="stylesheet" href="template/forms.css" type="text/css" />
<link rel="stylesheet" href="template/print.css" type="text/css" media="print"  />
|---
<h2>%title%</h2>

<div id="toptools">%toptools%</div>

<div id="formdata">
	<div class="formline">
		<span class="formheader">Namn</span><br>
		<div class="formtext">%name_str%</div>
	</div>
	<div class="formline">
		<span class="formheader">System</span><br>
		<div class="formtext">%system_str%</div>
	</div>
	<div class="formline">
		<span class="formheader">Beskrivning</span><br>
		<div class="formtext">%desc_str%</div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="sheet" class="view">
	<div id="groups">%xml_str%</div>
	<div id="footer"></div>
</div>