#groups {
	padding-top: 15px;
}

.group {
	width: 100%;
	border-bottom: 2px solid #444444;
	padding-right: 0px;
	padding-bottom: 2em;
	background-color: #FFFFFF;
	margin-top: 1em;
}

.groupheader {
	height: 36px;
	background-color: #444444;
	/*margin-top: 1em;*/
	padding: 5px;
	position: relative;
	line-height: 36px;
	margin-bottom: 1em;
}

.grouphighlight {
	margin-top: 1em;
	background-color: #DDDDDD;
	height: 4em;
	width: 100%;
	border: 5px dashed #444444;
}


.group a.button {
	margin-left: 3em;
}

.group a.button.big {
	float: left;
	margin-left: 0;
}

.groupheader h2 {
	color: #FFFFFF;
	margin-bottom: 0;
	margin-left: 1em;
	float: left;
}

.groupheader h2.hovered {
	cursor: pointer;
}

#sheet .groupheader input {
	border: none;
	font-size: large;
	font-family: sans-serif;
	margin-left: 1em;
	width: 60%;
	margin-top: .4em;
	float: left;
}



.row {
	padding-top: .5em;
	margin-bottom: .5em;
	margin-left: 2em;
	padding-left: 1em;
	line-height: 2em;
	background-color: #FFFFFF;
}

.row .inner {
	float: left;
	height: 2em;
}

.row a {
	margin-top: .2em;
}

.row a.button {
	margin-left: 0;
}

.rowhighlight {
	padding-top: .5em;
	margin-bottom: .5em;
	height: 1.8em;
	background-color: #DDDDDD;
	margin-left: 2em;
	border: 3px dashed #444444;
}


.row.hovered, .field.hovered {
	background-color: #EEEEEE;
}

.field input {
	border: 1px solid #444444;
	margin-left: 5px;
	width: 7em;
	font-size: 1em;
	float: left;
	padding-left: .3em;
}

.field input.empty {
	color: #CCCCCC;
}


.field {
	margin-right: 2em;
	position: relative;
}

.field a.button.single{
	float: left;
	margin-left: 5px;
}

.field.inner ul {
	position: absolute;
	right: -18px;
	top: 20px;
	background-color: #FFFFFF;
	border: 1px solid #444444;
	padding: 9px;
	padding-bottom: 10px;
	display: none;
	border-radius: 4px;
	z-index: 10000;
}

.field.inner li {
	list-style: none;
}

.field.inner a {
	position: relative;
}

.field.inner li a:hover {
	background-color: #CCCCCC;
}



#sheet #footer {
	margin-top: 1em;
	padding-top: .2em;
}


#formdata {
	border: 1px solid #444444;
	border-radius: 5px;
	padding: 1em;
}

#formdata .formline {
	float: left;
	margin-right: 2em;
}

#sheet table {
	width: auto;
	table-layout: fixed;
}

#sheet td {
	vertical-align: middle;
	border-left: 1em solid #FFFFFF;
	padding-right: .3em;
}

#sheet td.static {
	/*font-weight: bold;*/
}

#sheet td.text {
	border-bottom: 1px solid black;
	height: 1.5em;
	min-width: 5em;
}

#sheet td.header {
	font-weight: bold;
	border-bottom: 2pt solid black;
}

#sheet td.number {
	border-bottom: 1px solid black;
	min-width: 2em;
}

#sheet td input.number {
	width: 2em;
}



#sheet input {
	border: 1px solid #444444;
	margin-left: 5px;
	width: 7em;
	font-size: 1em;
	float: left;
	padding-left: .3em;
}

#sheet input.empty {
	color: #CCCCCC;
}


a.move {
	float: left;
}

a.move:hover {
	cursor:move;
}

#sheet td a.right {
	width: 9px;
	float: left;
	margin-left: 0px;
}

#sheet td a.left {
	width: 9px;
	float: left;
	margin-right: 0px;
	margin-left: .3em;
}





a.right.hidden, a.left.hidden {
	background-image: none;
}


#sheet td input.number {
	margin-left: 0px;
	margin-right: .3em;
}

#sheet td input.number.unselected {
	margin-left: 18px;
	margin-right: .3em;
}
