<link rel="stylesheet" href="template/frontpage.css" type="text/css">
|---
<div id="logo"><img src="./images/logolarge.png"></div>
<div id="info">

	<h2>Välkommen till Rollperson.se!</h2>
	<p>Här finner du verktyg för att skapa rollformulär och fylla dem med rollpersoner - allt du behöver för att befria dig och andra rollspelare från borttappade och glömda papper.</p>
	<p>Rollperson.se finns här för att underlätta ditt rollspelande - oavsett om du spelar Dungeons and Dragons, Mutant eller något udda indiespel.</p>

	<hr>
	<table>
		<tr>
			<th colspan="2">Nyheter</th>
		</tr>
		%newsstream%
		
	</table>
</div>

<div style="clear: both;"></div>