<h2>Logga in</h2>

<form action="./index.php?do=login" method="post">
	<div class="formline">
		<span class="formheader">Anv&auml;ndarnamn</span><br />
		<div class="formtext"><input type="text" id="username" name="name" value="%name_str%"></div>
	</div>
	<div class="formline">
		<span class="formheader">L&ouml;senord</span><br />
		<div class="formtext"><input type="password" id="password" name="pass"></div>
		<div class="error" id="login_error">%login_err%</div>
	</div>
	
	<input type="submit" value="Logga in" name="submit">
</form>