<link rel="stylesheet" href="template/profile.css" type="text/css">
|---
<h2>%title%</h2>

<div id="toptools">%toptools%</div>

<div id="profile">
	<div id="image">
		<div id="imageframe">
			<img src="%profileimg%">
		</div>
	</div>
	<div id="data">
		<div class="formline">
			<span class="formheader">Anv&auml;ndarnamn</span><br>
			<div class="formtext">%name_str%</div>
		</div>
		<div class="formline">
			<span class="formheader">Beskrivning</span><br>
			<div class="formtext">%desc_str%</div>
		</div>
	</div>
	<div style="clear: both;"></div>
</div>

<div id="streams">
	<div class="stream">
		<a href="?do=listchars&userid=%userid%"><h3>Rollpersoner</h3></a>
		%charstream%
	</div>
	<div class="stream">
		<a href="?do=listforms&userid=%userid%"><h3>Rollformul&auml;r</h3></a>
		%formstream%
	</div>
</div>
<div style="clear: both;"></div>