<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="description" content="Webbapplikation för att bygga och hålla reda på rollformulär och rollpersoner." />
		<title>Rollperson.se</title>
		
		<link rel="stylesheet" href="template/reset.css" type="text/css" />
		<link rel="stylesheet" href="template/style.css" type="text/css" />
		
		%head%
		
	</head>
	<body>
		<div id="head"><span id="loggedin">&nbsp;%loggedinstr%</span></div>
		
		<div id="menu">%menu%</div>
		
		<div id="content">
		%content%
		
		<div id="pagefooter">
			<a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons-licens" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a>
			 Den h&auml;r sidan anv&auml;nder <a href="https://github.com/krank/Charm">Charm</a>.
		</div>
		</div>
		
		
	</body>
</html>
