<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Rollperson.se</title>
		
		<link rel="stylesheet" href="template/reset.css" type="text/css">
		<link rel="stylesheet" href="template/style.css" type="text/css">
		
		%head%
		
	</head>
	<body>
		<div id="head"><span id="loggedin">&nbsp;%loggedinstr%</span></div>
		
		<div id="menu">%menu%</div>
		
		<div id="content">%content%</div>
		
		
	</body>
</html>
